body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
}

header {
  background-color: #12232E;
  color: white;
  text-align: center;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  transition: color 0.5s ease-in-out;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
}

.container h2 {
  color: #007CC7;
}

.project {
  background-color: #EEFBFB;
  padding: 1em;
  margin-bottom: 1em;
}

.project h3 {
  color: #203647;
}

footer {
  background-color: #12232E;
  color: white;
  text-align: center;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

